.contact {
  &-section {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    padding-top: 73px;
    border-color: transparent;
    flex-direction: column;
    padding-bottom: 84px;
    background-color: rgba(250, 246, 243, 1);
    min-height: 100dvh;

    @include media-breakpoint-down(lg) {
      min-height: 0;
    }

    @include media-breakpoint-down(md) {
      padding: 27px 0 0;
    }
  }

  &__contact {
    max-width: 1300px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    justify-content: space-between;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
      gap: 60px;
    }

    @include media-breakpoint-down(md) {
      gap: 48px;
    }
  }

  &__contact-information {
    max-width: 630px;
    width: 100%;
    display: flex;
    position: relative;
    flex-grow: 1;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    margin-right: 0px;
    flex-direction: column;

    @include media-breakpoint-down(xxl) {
      max-width: 360px;
      margin-right: 60px;
    }

    @include media-breakpoint-down(lg) {
      max-width: none;
    }
  }

  &__title {
    color: rgb(50, 62, 71);
    height: auto;
    font-size: 72px;
    align-self: stretch;
    text-align: left;
    font-weight: 400;
    line-height: 110%;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 76px;
    text-decoration: none;

    @include media-breakpoint-down(lg) {
      font-size: 52px;
      margin-bottom: 40px;
    }

    @include media-breakpoint-down(md) {
        font-size: 44px;
        margin-bottom: 28px;
      }
    

    &--italic {
      font-style: italic;
      font-weight: 200;
    }
  }

&__contact-address {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
  gap: 36px;

  @include media-breakpoint-down(md) {
    gap: 24px;
  }
}
&__contact-item {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
}
&__icon {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 36px;

  @include media-breakpoint-down(md) {
    margin-right: 12px;
  }
}
&__info-desc {
  color: rgba(50, 62, 71, 1);
  height: auto;
  flex-grow: 1;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-weight: 400;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;

  a {
    color: inherit;
  }

  @include media-breakpoint-down(lg) {
    font-size: 20px;
  }

  @include media-breakpoint-down(md) {
    font-size: 16px;
  }
}
&__contact-phone {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
&__form {
  max-width: 630px;
  width: 100%;
  display: flex;
  padding: 54px 62px;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  border-color: transparent;
  border-radius: 42px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);

  @include media-breakpoint-down(lg) {
    max-width: none;
  }

  @include media-breakpoint-down(md) {
    padding: 42px 20px;
    margin-bottom: 70px;
  }
}
&__form1 {
  width: 100%;
  height: auto;
  display: flex;
}
&__form-fields {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
  width: 100%;
}
&__form-fields-row {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 16px;
  flex-direction: column;
}
&__label {
  color: rgba(50, 62, 71, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 6px;
  text-decoration: none;
}
&__input-field {
  width: 100%;
  height: 48px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(193, 197, 199, 1);
  border-style: solid;
  border-width: 1px;
  padding-left: 19px;
  border-radius: 10px;
  padding-right: 19px;
}
&__select {
  color: #323E47;
  width: 100%;
  height: 48px;
  border-color: rgba(193, 197, 199, 1);
  border-width: 1px;
  padding-left: 18px;
  border-radius: 10px;
  padding-right: 18px;
}

&__label--italic {
  font-style: italic;
  font-weight: 200;
}
&__textarea {
  width: 100%;
  border: 1px rgba(193, 197, 199, 1) solid;
  height: 96px;
  padding: 14px 19px;
  font-size: 18px;
  border-radius: 10px;
  margin-top: 6px;
}
&__form-actions {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
&__form-legal {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 8px;

  @include media-breakpoint-down(md) {
    margin-right: 0;
    flex-wrap: wrap;
    gap: 20px;
  }
}

&__checkbox-wrapper {
  display: flex;
  align-items: center;
}

&__checkbox {
  width: 19px;
  border: 1px rgba(193, 197, 199, 1) solid;
  height: 19px;
  margin-right: 8px;
  border-radius: 4px;

}
&__checkbox-text {
  color: rgb(98, 105, 111);
  cursor: pointer;
  width: auto;
  height: auto;
  flex-grow: 1;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  .underline {
    text-decoration: underline;
  }
}
&__button {
  color: #fff;
  width: 70%;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
  padding-top: 14px;
  border-width: 0px;
  padding-left: 24px;
  border-radius: 24px;
  padding-right: 24px;
  padding-bottom: 14px;
  background-color: rgb(177, 85, 53);

  @include media-breakpoint-down(md) {
    width: 100%;
  }
}
}
