.psychotherapy-faq-section {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: 145px;
  flex-direction: column;

  @include media-breakpoint-down(lg) {
    padding-top: 90px;
  }

  @include media-breakpoint-down(md) {
    padding-top: 70px;
    padding-bottom: 80px;
  }
}
.psychotherapy-faq {
  &__title {
    color: rgba(50, 62, 71, 1);
    max-width: 840px;
    padding: 0 20px;
    width: 100%;
    height: auto;
    font-size: 48px;
    align-self: auto;
    text-align: center;
    font-family: Be Vietnam Pro;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-bottom: 76px;

    @include media-breakpoint-down(lg) {
      font-size: 32px;
      margin-bottom: 54px;
    }

    @include media-breakpoint-down(md) {
      font-size: 24px;
      margin-bottom: 38px;
    }
  }

  &__list {
    max-width: 840px;
    padding: 0 20px;
    width: 100%;
    display: flex;
    position: relative;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
  }

  &__item {
    display: flex;
    position: relative;
    align-self: stretch;
    align-items: flex-start;
    border-color: rgba(193, 197, 199, 1);
    border-style: solid;
    margin-bottom: 0px;
    flex-direction: column;
    border-top-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    margin-bottom: 34px;

    @include media-breakpoint-down(lg) {
      margin-bottom: 24px;
    }
  }

  &__header {
    display: flex;
    position: relative;
    align-self: stretch;
    align-items: flex-start;
    color: rgb(50, 62, 71);
    cursor: pointer;
    height: auto;
    font-size: 24px;
    align-self: auto;
    text-align: left;
    font-family: "Be Vietnam Pro";
    font-weight: 600;
    line-height: 150%;
    font-stretch: normal;
    margin-right: 28px;
    padding-top: 34px;
    transition: all 0.3s ease;

    &.active + .psychotherapy-faq__answer {
      opacity: 1;
      visibility: visible;
    }

    &.active {
      margin-bottom: 28px;
    }

    @include media-breakpoint-down(lg) {
      font-size: 20px;
      margin-right: 0;
      padding-top: 24px;

      &.active {
        margin-bottom: 20px;
      }
    }

    @include media-breakpoint-down(md) {
      font-size: 16px;

      &.active {
        margin-bottom: 16px;
      }
    }
  }
  &__answer {
    color: rgba(98, 105, 111, 1);
    height: auto;
    font-size: 18px;
    align-self: stretch;
    text-align: left;
    font-weight: 400;
    line-height: 140%;
    font-stretch: normal;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;

    @include media-breakpoint-down(lg) {
      font-size: 16px;
    }

    @include media-breakpoint-down(md) {
      font-size: 14px;
    }
  }
}
