.workshop-features {
  border-radius: 40px;
  background: #FAF6F3;
  padding: 111px 0 225px;

  @include media-breakpoint-down(lg) {
    padding: 120px 0 80px;
  }
  
  &__content {
    max-width: 1300px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 106px;

    @include media-breakpoint-down(lg) {
      grid-template-columns: 1fr;
      gap: 40px;
    }
  }

  &__feature {
    svg {
      margin-bottom: 12px;

      @include media-breakpoint-down(md) {
        margin-bottom: 0;
        width: 28px;
        height: 28px;
      }
    }
  }

  &__title-wrapper {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-down(md) {
      flex-direction: row;
      gap: 12px;
      align-items: center;
      margin-bottom: 12px;
    }
  }

  &__title {
    color: #323E47;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    margin-bottom: 24px;

    @include media-breakpoint-down(md) {
      font-size: 18px;
      margin-bottom: 0;
    }
  }

  &__desc {
    @include media-breakpoint-down(md) {
      font-size: 14px;
      line-height: 150%;
    }
  }
}