.workshop-dates {
  border-radius: 40px;
  background: #F2EBE6;
  padding: 160px 0;
  position: relative;
  bottom: -30px;

  @include media-breakpoint-down(lg) {
    padding: 80px 0;
  }

  &__container {
    max-width: 1300px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 70px;
    color: #323E47;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    text-align: center;

    @include media-breakpoint-down(md) {
      font-size: 32px;
      margin-bottom: 40px;
      text-align: left;
    }

  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 822px;
    margin: 0 auto 80px;
    width: 100%;

    @include media-breakpoint-down(md) {
      gap: 20px;
      margin: 0 auto 40px;
    }
  }

  &__item {
    position: relative;
    margin-left: 53px;
    border-radius: 20px;
    background: #FFF;
    padding: 28px 18px 28px 99px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    color: #323E47;

    @include media-breakpoint-down(md) {
      font-size: 16px;
      padding: 24px 12px 24px 56px;
      margin-left: 32px;
    }

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 8px;
    }
  }

  &__location {
    font-size: 18px;
    line-height:21px;
    @include media-breakpoint-down(md) {
      font-size: 14px;
      line-height: 14px;
    }
  }

  &__date {
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background: #323E47;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    text-transform: uppercase;
    width: 104px;
    height: 104px;
    align-items: center;
    justify-content: center;
    gap: 4px;
    position: absolute;
    left: -53px;
    top: 50%;
    transform: translateY(-50%);

    @include media-breakpoint-down(md) {
      width: 65px;
      height: 65px;
      font-size: 11px;
      gap: 4px;
      left: -32px;
      border-radius: 10px;
    }
  }

  &__number {
    font-size: 40px;
    font-weight: 600;
    line-height: 100%;

    @include media-breakpoint-down(md) {
      font-size: 22px;
    }
  }

  &__time {
    position: relative;
    color: #62696F;
    line-height: 100%;
    height: 100%;
    padding: 40px 0;
    min-width: 95px;

    &::after {
      content: "";
      position: absolute;
      left: -48px;
      top: 0;
      height: 100%;
      width: 1px;
      background-color: #C1C5C7;
    }

    @include media-breakpoint-down(md) {
      padding: 0;
      min-width: 70px;

      &:after {
        left: -32px;
      }
    }

    @include media-breakpoint-down(sm) {
      font-size: 14px;
      width: 100%;

      &:after {
        display: none;
      }
    }
  }

  &__footer {
    max-width: 822px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      gap: 40px;
    }
  }

  &__left {
    display: flex;
    gap: 16px;

    @include media-breakpoint-down(md) {
      gap: 12px;

      svg {
        width: 40px;
        height: 40px;
        min-width: 40px;
      }
    }
  }

  &__subtitle {
    color: #323E47;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 19px; 
    margin-top: 7px;

    @include media-breakpoint-down(md) {
      font-size: 22px;
      margin-bottom: 11px;
      margin-top: 7px;
    }
  }

  &__no-dates {
    max-width: 359px;
    width: 100%;
    p {
      line-height: 130%;
      width: 80%;
    }

    @include media-breakpoint-down(md) {
      max-width: none;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 335px;

    @include media-breakpoint-down(md) {
      max-width: none;
    }

    label {
      color: #62696F;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      margin-bottom: 8px;

      @include media-breakpoint-down(md) {
        font-size: 13px;
        margin-bottom: 9px;
      }
    }

    input {
      outline: none;
      border-radius: 10px;
      border: 1px solid #C1C5C7;
      background: #FFF;
      padding: 13px 10px;
    }
  }

  &__submit {
    margin-top: 24px;
    border-radius: 100px;
    background: #B15535;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    padding: 16px 10px;

    @include media-breakpoint-down(md) {
      font-size: 12px;
      letter-spacing: 0.6px;
      padding: 17px 10px;
    }
  }
}