body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.15;
  color: #545572;
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

blockquote {
  margin: 0;
}

.no-scroll {
  overflow: hidden;
}

a {
  color: #545572;
}