.home-details-section {
  width: 100%;
  height: auto;
  display: flex;
  padding: 148px 0 162px 0;
  position: relative;
  margin-top: 172px;
  align-items: center;
  border-radius: 42px;
  flex-direction: column;
  background-size: contain;
  background-color: rgba(50, 62, 71, 1);
  background-image: url("public/zimmerpflanze-2.png");
  background-repeat: no-repeat;
  background-position: right;

  @include media-breakpoint-down(lg) {
    margin-top: 80px;
    padding-top: 72px;
    padding-bottom: 78px;
    background-image: none;
  }
}

.home-details {
  max-width: 1300px;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;


  &__container {
    max-width: 820px;
    width: 100%;
    display: flex;
    position: relative;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;

  }

  &__title {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 48px;
    align-self: stretch;
    font-style: Medium;
    text-align: left;
    font-family: Be Vietnam Pro;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 42px;
    text-decoration: none;

    @include media-breakpoint-down(sm) {
      font-size: 24px;
      margin-bottom: 28px;
    }
  }

  &__text {
    display: flex;
    position: relative;
    align-self: stretch;
    align-items: flex-start;
    border-color: transparent;
    flex-direction: column;
    gap: 32px;

    @include media-breakpoint-down(md) {
      gap: 0;
    }
  }

  &__desc {
    color: rgb(193, 197, 199);
    height: auto;
    font-size: 22px;
    align-self: stretch;
    font-style: Regular;
    text-align: left;
    font-family: Be Vietnam Pro;
    font-weight: 400;
    line-height: 150%;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 32px;
    text-decoration: none;
    position: relative;
    z-index: 1;

    @include media-breakpoint-down(sm) {
      font-size: 18px;
    }
  }

  &__image {
    width: 300px;
    position: absolute;
    right: 0;
    bottom: 0;
    object-fit: cover;

    @include media-breakpoint-down(sm) {
      right: 0;
      width: 180px;
      bottom: -100px;
      display: block;
      position: absolute;
      z-index: 0;
    }
  }
}