.home-cta-section {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  margin-top: 164px;
  align-items: center;
  border-color: transparent;
  flex-direction: column;

  @include media-breakpoint-down(xl) {
    margin-top: 100px;
  }

  @include media-breakpoint-down(sm) {
    margin-top: 0;
  }
}

.home-cta {
  max-width: 1300px;
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-left: -96px;
  border-color: transparent;
  flex-direction: column;
  padding: 0 20px;

  @include media-breakpoint-down(md) {
    padding: 0;
    margin-left: 0;
  }

  @include media-breakpoint-down(sm) {
    width: 100%;
    margin: 0;
  }

  &-container {
    max-width: 920px;
    width: 100%;
    display: flex;
    padding: 148px 148px 132px 96px;
    z-index: 1;
    position: relative;
    align-items: flex-start;

    border-color: transparent;
    border-radius: 42px;
    flex-direction: column;
    background-color: rgba(50, 62, 71, 1);
    margin-left: 20px;

    @include media-breakpoint-down(lg) {
      padding: 70px 40px 64px;
    }

    @include media-breakpoint-down(md) {
      padding: 70px 20px 64px;
      margin-left: 0;
      max-width: none;
    }
  }

  &-content {
    display: flex;
    position: relative;
    align-self: stretch;
    align-items: flex-start;
    border-color: transparent;
    margin-bottom: 42px;
    flex-direction: column;
  }

  &-title {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 48px;
    align-self: stretch;
    font-style: Medium;
    text-align: left;
    font-family: Be Vietnam Pro;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 34px;
    text-decoration: none;

    @include media-breakpoint-down(lg) {
      font-size: 32px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 24px;
      margin-bottom: 28px;
    }
  }

  &-desc {
    color: rgb(193, 197, 199);
    height: auto;
    font-size: 18px;
    align-self: stretch;
    font-style: Regular;
    text-align: left;
    font-family: Be Vietnam Pro;
    font-weight: 400;
    line-height: 150%;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }
  }

  &-actions {
    display: flex;
    position: relative;
    align-items: flex-start;
    border-color: transparent;
    gap: 24px;

    @include media-breakpoint-down(md) {
      width: 100%;
      .home-primary-button {
        width: 100%;

        span {
          font-size: 15px;
        }
      }

      .home-button-without-border {
        width: 100%;
        justify-content: center;
      }
    }

    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
    }
  }
}